.register-window {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 4rem;
  margin-left: 4rem;

  input {
    align-self: center;
    text-align: center;
    width: 70%;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    border: 1px solid $input;
    font-family: $primary-light;
    font-size: 2.5rem;
    line-height: 2;

    &::placeholder {
      color: $input;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 60%;
    height: 3.8rem;
    margin-top: 1.7rem;
    margin-bottom: 4rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;
      font-size: 1.7rem;

      &.close {
        color: $close;
      }

      &.done {
        color: $done;

        &:disabled {
          color: $disabled !important;
        }
      }
    }
  }
}

@include mobileView() {
  .register-window {
    margin-right: 2rem;
    margin-left: 2rem;

    input {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .buttons {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

@include mobileViewLandscape() {
  .register-window {
    .buttons {
      width: 65%;
    }
  }
}
