// Layout
$background: #f7f7f7;
$font-color: #4e4e4e;
$header-green: #56ad53;
$done: #91d08e;
$close: #e27c7c;

// General
$red: #fe9992;
$orange: #F5D2A0;
$yellow: #fff9a5;
$dark-yellow: #e8e396;
$green: #c6e3c9;
$blue: #afe3e3;

// Buttons
$highscores: #8ad088;
$restart: #be7a7a;
