// Layout
$background: #f7f7f7;
$font-color: #4e4e4e;
$line: #dedede;
$header: #56ad53;
$sub-header: #717171;
$table: #717171;
$input: #dbdbdb;
$blank: #ffffff;

// General
$red: #fe9992;
$orange: #f5d2a0;
$yellow: #fff9a5;
$dark-yellow: #e8e396;
$green: #c6e3c9;
$blue: #afe3e3;

// Buttons
$highscores: #8ad088;
$restart: #be7a7a;
$disabled: #d3d3d3;
$done: #91d08e;
$close: #e27c7c;
